body {
    background-color: #ffffff;
    text-align: center;
    font-family: source sans pro;
    font-weight: 700;
    color: #888888;
    overflow-x: hidden;
    
}

p {
    font-weight: 200;
    font-size: medium;
    margin: auto;
    line-height: 1.5;
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: source sans pro;
    font-weight: 700;
    color: #777777;
}

    .h1{
        color: #ed786a;
        font-family: Arvo;
        font-size: 25px;
        letter-spacing: 9px;
        padding: 15px;
        text-shadow: 0.1em 0.1em #e5e5e5;
    }

    .h4 {
        font-weight: 400;
        color: #888888;
    }


strong {
    color: #777777;
}

#article-photo {
    border: 7px solid #e5e5e5;
}

#bouton-rose,
.bouton-globe,
.bouton-vampire,
.bouton-main-top,
.bouton-footer {
    background-color: #ed786a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-family: source sans pro;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
}

    #bouton-rose,
    .bouton-globe,
    .bouton-vampire,
    .bouton-main-top,
    .bouton-footer {
        font-size: 15px;
        color: #ffffff;
    }

/* ------------------------------------ HEADER ------------------------------------ */
header {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.header-container {
    border-bottom: 2px solid #e5e5e5;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

.header-text {
    padding-top: 20px;
    padding-bottom: 50px;
    color: #888888;
    font-weight: 400;
}


/* ------------------------------------ MAIN ------------------------------------ */

/* ---- Main Head ---- */

main {
   padding-left: 20px;
   padding-right: 20px; 
}

.section-main-header {
    padding-top: 50px;
    border-top: 2px solid #e5e5e5;
}

.photo-main-header {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.text-fake-news {
    margin-top: 15px;
    text-align: center;
}
 .text-fake-news > a {
     border-bottom: 2px solid #f0f0f0;
 }

/* ---- Main Banniere ---- */
.banniere {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
    margin: 0px -20px 0px -20px;
}
.banniere-content {
    background-image: url(../ressources/images/banner.jpg);
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
}

.banniere-text {
    color: #ffffff;
    text-transform: uppercase;
    font-size: large;
    letter-spacing: 0.3em;
    padding: 80px;
}
    .banniere-text > strong {
        color: #ffffff;
    }

/* ---- Main Articles ---- */

.article-photo-main {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

/* ---- Main Articles Top ---- */

.main-articles-cia {
    padding-top: 40px;
    padding-bottom: 10px;
    border-bottom: 2px solid #f0f0f0;
    margin-bottom: 8px;
}


.top-main-text {
    text-align: justify;
}


.main-artciles-vinyle {
    padding-top: 40px ;
    margin-top: 8px;
    border-top: 2px solid #f0f0f0;
}

.cia-text>h3,p {
    padding-bottom: 20px;
}

.spa-text>h3,p {
    padding-bottom: 20px;
}
/* ---- Main Articles Date ---- */

.articles-date {
    border-bottom: 2px solid #f0f0f0;
    padding-top: 15px;
    padding-bottom: 15px;
}
.articles-date>h5 {
    background-color: #888888;
    color: #ffffff;
    max-width: 100px;
    padding: 5px;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 auto;
}

.articles-date>h3 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.articles-date>p {
    text-align: left;

}
/* ---- Main Articles Bottom ---- */

.articles-bottom {
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 2px solid #f0f0f0;
}

.vampire {
    border-bottom: transparent;
}

.articles-bottom>h3 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-articles-bottom {
    border-top: 2px solid #f0f0f0;
    margin-top: 5px;
}



.bottom-text {
    margin: 10px;
    text-align: justify;
    
}


/* ---- Main Articles Photos ---- */

.articles-photo-bottom {
    float: left;
    margin: 15px;
    width: 35%;
}


/* ------------------------------------ FOOTER ------------------------------------ */

footer {
    background-color: #f0f0f0;
    border-top: 2px solid #e5e5e5;
}

.footer-formulaire {
    padding: 30px 20px 0px 20px;
}

.footer-formulaire > .h4 {
    line-height: 1.5em;
    padding-left: 20px;
    padding-right: 20px;
}

.form-footer {
    width: 100%;
    padding: 15px 10px;
    border-radius: 4px;
    margin-top: 13px;
    box-shadow: inset 2px 2px #e5e5e5;
    border: none;
}

.footer-links {
    padding: 10px 20px;
    text-align: left;
}

    .links {
        font-weight: 300;
    }

    .links > a {
        padding-bottom: 20px;
    }

    i {
        padding-right: 20px;
    }

/* Formulaire RegExp */

.error {
    background-color: #cc0000;
}

.errorName,
.errorMail,
.errorMess {
    color: #cc0000;
    font-weight: 200;
    font-size: 10px;
    font-family: source sans pro;
    padding: 0;

}




/* ------------------------------------ MENU NAV ------------------------------------ */
.body-nav {
    transition: left .5s;
    position: relative;
    left: 0px;
    
}
.openedBody {
    left: 360px;
    position: relative;
    
    
}

.menu-nav {
    background-color: #444444;
    width: 350px;
    height: 800px;
    margin: 10px 0 0 10px;
    position: absolute;
    top: 0;
    left: -360px;
    transition: left .5s;
}

.menu-level-one {
    font-family: Source sans pro;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 2px;
    margin-left: 10px;
}

    .menu-level-two{
        inherits: inherit;
        font-family: Source sans pro;
        font-weight: 400;
        color: #888888;
        letter-spacing: 2px;
        margin-left: 20px;
    }

    .menu-level-two > ul {
        margin-left: 10px
    }

    .opened {
        display: block;
        left: 0;
    }

.menu-nav li {
    border-top: 1px solid rgba(255,255,255, .5) ;
    padding: 5px;
}

.menu-nav a {
    display: block;
    padding: 10px;
    text-align: left;
    color: #e5e5e5;

}
    .menu-nav a::after {
        content: none;
    }

    .menu-nav a:focus,
    .menu-nav a:active {
        background-color: hsl(0, 0%, 50%);

    }

/* ------------------------------------ BOUTON BURGER ------------------------------------ */

.button-burger {
    position: absolute;
    top: 0;
    left: 355px;
    align-items: stretch;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 5px 0 0 5px;
    height: 35px;
    width: 54px;
    justify-content: space-between;
    padding: 9px 18px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 0px #888888;
    border: solid 1px transparent;
    z-index: 100;

}
    .button-burger span {
        background-color: #888888;
        border: 1px;
        border-radius: 2px;
        flex: 0 0 3px;
        width: 20px;
    }



 

/* ------------------------------------ RESPONSIVE MEDIA QUERY ------------------------------------ */

/*  Design entre 768px et 991px */
@media (min-width: 768px ){
 
    #bouton-rose {
        width: 30%;
        margin: 0 auto;
    }

    .header-container {
        border-bottom: 2px solid #e5e5e5;
        margin-left: 10px;
        margin-right: 10px;
        padding: 50px 10px;
    }


    .main-header-text {
        width: 30%;
    }

    .main-header-content {
     display: flex;
     justify-content: space-between;
     padding: 50px 80px;
 }
.section-main-header {
    padding-bottom: 50px;
}

 .main-articles {
     display: flex;
     height: auto;
     justify-content: space-evenly;
     padding: 80px 50px;
 }

.main-articles-top {
    width: 70%;
    padding-right: 6%;
    text-align: left;
}

.articles {
    width: 24%;
}

.bouton-main-top {
    width: 50%;
}

.globe,
.vampire {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.articles-photo-bottom {
    margin: 0px;
    width: 79%;
}


.bottom-text {
    margin: 0px;
    text-align: justify;
}

.bouton-globe,
.bouton-vampire {
    width: 100%;
}


.footer-content {
    display: flex;
    justify-content: space-around;
}


.form-name {
    display: flex;
    justify-content: space-between;
}
.bouton-footer {
    width: 65%;
}

#error_Mail,
#error_Name {
    width: 48%;
}



}


/* Design >= 992px */
@media (min-width: 992px) {

.menu-nav {
    position: relative;
    width: 100%;
    height: auto;
    background-color: transparent;
    left: 0;    
    z-index: 100;
}

.menu-nav  li {
    background-color: #ffffff;
    
}

.menu-level-one {
    display: flex;
    justify-content: center;
    height: 180px;
    color: #888888;

}

.menu-level-one > li li {
    width: 100%;
}

.menu-level-two li {
    border-bottom: 1px solid #e5e5e5;
}

.menu-level-two li:last-child {
    border: none;
}

.menu-level-two,
.menu-level-three {
    position: absolute;
    border: 1px solid #e5e5e5;
    
}

.menu-level-three {
    left: 100%;
    top: 155px;
}

li > ul {
    display: none;
}
.menu-level-one li:hover > ul {
    display: block;
}

.button-burger {
    display: none;
}
        
}